@media (max-width: 590px) {
  .header__title {
    font-size: 22px;
  }
  .loans__title {
    font-size: 22px;
  }
  .loans__subtitle {
    font-size: 16px;
  }
  .loans__btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .loans__invest {
    font-size: 13px;
  }
  .total {
    font-size: 16px;
  }
}

@media (max-width: 497px) {
  .container {
    padding: 32px 40px;
  }
  .total {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .loans {
    flex-direction: column;
    &__invest {
      text-align: start;
      padding-bottom: 0px;
    }
  }
}
