%inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

%inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
%inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
